matplotlib
seaborn
numpy
pandas
tqdm
scipy
scikit-learn
scikit-image
opencv-python
ipykernel
torch
torchvision
torchaudio
tensorflow-macos
tensorflow-metal
keras
PyQt5
opencv_python
QDarkStyle
skimage
timm